.cell {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-width: 100%;
  align-content: center;
  justify-content: center;
}

.cell span {
  font-size: 11px;
}

.unselected.even:nth-child(odd) {
  background: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
}

.unselected.even:nth-child(even) {
  background: rgba(50, 50, 50, 1);
  color: rgba(255, 255, 255, 1);
}

.selected.even:nth-child(odd) {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(50, 50, 50, 1);
}

.selected.even:nth-child(even) {
  background: rgba(50, 50, 50, 0.5);
  color: rgba(255, 255, 255, 1);
}

.unselected.odd:nth-child(even) {
  background: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
}

.unselected.odd:nth-child(odd) {
  background: rgba(50, 50, 50, 1);
  color: rgba(255, 255, 255, 1);
}

.selected.odd:nth-child(even) {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(50, 50, 50, 1);
}

.selected.odd:nth-child(odd) {
  background: rgba(50, 50, 50, 0.5);
  color: rgba(255, 255, 255, 1);
}
